<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotel.data.order.OrderMapper">

    <select id="getAllOrders" resultMap="Order">
        select * from OrderList
    </select>
    <select id="getUserOrders" resultMap="Order">
        select * from OrderList where userId=#{userid}
    </select>
    <select id="getHotelOrders" resultMap="Order">
        select * from OrderList where hotelId=#{hotelid}
    </select>
    <insert id="addOrder" parameterType="com.example.hotel.po.Order" useGeneratedKeys="true" keyProperty="id">
        insert into OrderList(userId,hotelId,hotelName,checkInDate,checkOutDate,roomType,roomNum,peopleNum,haveChild,createDate,price,clientName,phoneNumber,orderState)
        values(#{userId},#{hotelId},#{hotelName},#{checkInDate},#{checkOutDate},#{roomType},#{roomNum},#{peopleNum},#{haveChild},#{createDate},#{price},#{clientName},#{phoneNumber},#{orderState})
    </insert>
    <select id="getOrderById" resultMap="Order">
        select * from OrderList where id=#{orderid}
    </select>
    <update id="annulOrder">
        update OrderList set orderState="已撤销" where id=#{orderid}
    </update>
   <!--取消订单的数据库操作-->

    <update id="execOrder">
        update OrderList set orderState="已入住" where id=#{orderid}
    </update>
    <!--执行订单的数据库操作-->
    
    <update id="abnormalOrder">
        update OrderList set orderState="异常订单" where id=#{orderid}
    </update>
    <!--异常订单-->

    <update id="delayCheckIn">
        update OrderList set orderState="延迟入住" where id=#{orderid}
    </update>
    <!--延迟入住-->

    <update id="endOrder">
        update OrderList set orderState="已退房" where id=#{orderid}
    </update>
    <!--退房-->

    <update id="commentOrder">
        update OrderList set orderState="已评价" where id=#{orderid}
    </update>

    <delete id="deleteOrder">
        delete from OrderList where id=#{orderid}
    </delete>
    <!--删除订单-->



    <resultMap id="Order" type="com.example.hotel.po.Order">
    </resultMap>
</mapper>